@media screen and (min-width: 1000px) {
    #header {
        flex-direction: row;
        margin-top: 8rem;
    }

    #header img {
        border-top-right-radius: 0;
    }

    .text {
        /* border: 1px solid red; */
        height: 50.3rem;
        padding: 3rem 3rem;
        border-top-right-radius: 1.2rem;
    }

    .title-paragraph {
        gap: 2rem;
    }

    .title-paragraph h3 {
        font-size: 1.4rem;
    }

    .price-button {
        margin-top: 6rem;
        gap: 4rem;
    }

    .price {
        gap: 1.6rem;
    }
    /* DESATIVADOS */
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }

    .price-button button {
        cursor: pointer;
    }

    .price-button button:hover {
        background-color: hsl(158, 84%, 25%);
    }
}