/* Font size (paragraph): 14px */
body {
    font-size: 1.6rem;
    background-color: var(--cream);
}

p {
    font-size: 1.4rem;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* padding: 2.5rem 1.2rem; */
    padding: 2.5rem 1.2rem .5rem 1.2rem;
}

#header img {
    width: 33.5rem;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
}

.text {
    width: 33.5rem;
    background-color: var(--white);
    padding: 1.6rem 1.9rem;
}

.title-paragraph {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;
}

.title-paragraph h3 {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: .4rem;
}

.title-paragraph h1 {
    line-height: 3.2rem;
    font-weight: 700;
    color: (var--very-dark-blue);
    font-family: 'Fraunces', serif;
}

.title-paragraph p {
    line-height: 2.2rem;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
}

.price-button {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.2rem;
}

.price {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.price h2 {
    font-size: 3rem;
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan);
}

.price span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-decoration: line-through;
}

.price-button button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    border: none;
    background-color: var(--dark-cyan);
    border-radius: 1rem;
}

/* DESATIVADOS */
.desktop {
    display: none;
}