.card {
    width: 35rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-color {
    height: 20rem;
}

.card-title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 2rem 0 2rem 3rem;
    color: #2B2B2B;
}

.card-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #555555;
    margin: 2.6rem 2.8rem 3.1rem 3rem;
}
